<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BunnyBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <BunnyBot.Properties.Settings>
            <setting name="ShellL" serializeAs="String">
                <value />
            </setting>
            <setting name="ShellC" serializeAs="String">
                <value />
            </setting>
            <setting name="ShellR" serializeAs="String">
                <value />
            </setting>
            <setting name="WebL" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="WebR" serializeAs="String">
                <value />
            </setting>
            <setting name="WebC" serializeAs="String">
                <value />
            </setting>
            <setting name="SocC" serializeAs="String">
                <value />
            </setting>
            <setting name="SocR" serializeAs="String">
                <value />
            </setting>
            <setting name="WOEID" serializeAs="String">
                <value>29222069</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>f</value>
            </setting>
        </BunnyBot.Properties.Settings>
    </userSettings>
</configuration>